$color_background: #111111;
$color_name: #FFF;
$color_short_description: #888888;
$color_section_title: #EEEEEE;
$color_section_text: #BBBBBB;
$color_section_link: #FFFFFF;

body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 5em;
  background-color: $color_background;
}

#container {
  margin: auto;
  text-align: left;
  width: 960px;
}

header {
  display: block;
  overflow: hidden; // not auto, because IE defaults to scroll
}

#name {
  text-decoration: none;
  display: block;
  font-size: 4em;
  color: $color_name;
}

#shortdescription {
  display: block;
  font-size: 1em;
  font-style: italic;
  color: $color_short_description;
}

main {
  display: block;
  width: 50%;
  margin-top: 8ex;
  text-align: justify;

  .sectiontitle {
    width: 100%;
    display: block;
    font-size: 3ex;
    color: $color_section_title;
  }

  .sectioncontent {
    color: $color_section_text;
    font-size: 90%;
  }

  a {
    color: $color_section_link;
    text-decoration: none;
  }

  a:hover {
    text-shadow: 0 0 5px $color_section_link;
  }
}

#intro {
  display: block;
  float: left;
}

#externalcontainer {
  display: block;
  float: right;
}

.external {
  text-decoration: none;
  font-size: 0;
}

.external > svg {
  display: inline-block;
  margin: 10px;
  width: 64px;
  height: 64px;
}

.external > svg:hover {
  filter: drop-shadow(0 0 3px #FFF);
  -webkit-filter: drop-shadow(0 0 3px #FFF);
}

// we make all icons pure white
.lifill, .glfill {
  fill: #FFFFFF;
}
